@use "../../abstracts/" as *;

.login {
  @keyframes fade-avatar {
    0% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }

  .avatar__container {
    @include avatar;
    margin-bottom: 10px;

    &::before {
      animation: fade-avatar 1.1s linear;
    }
  }
}
