@use "../../abstracts/" as *;

.login__container__form {
  @include flex($flow: nowrap column);
  gap: 10px;
  padding-top: 62px;
  // height: 388px;
  width: 226px;
  margin-bottom: auto;

  input {
    border: 1px solid $bg-login-input-border;
    padding-block: 2px;

    &[type="email"],
    &[type="password"] {
      width: 100%;
      box-sizing: border-box;
      padding: 3px;
    }

    // workaround to prevent default autofill background color
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: $font-login-input-placeholder;
    }
  }

  .auto-login__container {
    @include flex($align: center);
  }
}

.login-remember__container {
  position: relative;
  @include flex($flow: nowrap column, $justify: flex-end);
  gap: 10px;
  min-height: 86px;
}

.remember__container {
  @include flex($align: center);
}

.delete-saved {
  margin-left: 15px;
}

.delete-saved,
.reset-password__btn {
  text-align: left;
  background-color: transparent;
  border: none;
  color: $font-login-delete-saved;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.connecting-gif__container {
  @include flex($flow: nowrap column, $justify: flex-end, $align: center);
  .connecting-gif {
    height: 40px;
    width: 40px;
  }
}

.reset-password__btn {
  margin-bottom: 20px;
  text-align: center;
}

.display {
  display: none;
}
