@use "../../abstracts/" as *;

.login__container {
  @include flex($justify: center);
  font-size: $font-login-size;
  font-family: $font-login;
  border: 1px solid $border-login-container;
  height: 864px;
  width: 623px;
  background: $bg-login;
  background-size: 100% 100%;
}
