$bg-login: url("/assets/background_gradient.png");
$bg-login-input-border: #aab7c7;
$bg-login-email-drop: #f2f2f2;
$bg-login-email-drop-hover: #91c9f7;
$border-login-container: #55759c;
$border-login-container-before: rgba(148, 157, 188, 0.38);
$border-login-img-container: #d8d9d9;

// FONT COLORS
$font-login-global: #333333;
$font-login-delete-saved: #359bed;
$font-login-input-placeholder: black;

// CHECKBOX COLORS
$bg-login-checkbox: #f8f8f8;
$border-login-checkbox: #888888;
$border-login-checkbox-before: #d8d8d8;
$border-login-checkbox-before-hover: #88d0f8;
$box-shadow-login-checkbox-before-hover: #c8e8f0;

// STATUS LIST
$bg-login-status-list-hover: #0078d7;
$border-login-status-list: #a0a0a0;

// CONNECT BUTTON
$bg-login-connect-btn: #e0e8f0;
$border-connect-btn: #808888;
$border-connect-btn-before: #c0c8d0;
$font-login-connect-btn-font: #001595;

// DISABLED
$login-disabled-text-border: #c1c1c1;
$font-login-disabled-icon: #6d6d6d;

// GRADIENT
$bg-login-connect-btn: linear-gradient(
  180deg,
  rgba(224, 232, 240, 1) 0%,
  rgba(216, 232, 240, 1) 54%,
  rgba(200, 232, 240, 1) 55%,
  rgba(216, 232, 240, 1) 100%
);
$bg-login-connect-btn-hover: linear-gradient(
  180deg,
  rgba(200, 232, 240, 1) 0%,
  rgba(200, 232, 240, 1) 54%,
  rgba(192, 216, 240, 1) 55%,
  rgba(200, 224, 240, 1) 100%
);
