@mixin flex($flow: nowrap row, $justify: stretch, $align: stretch) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin translate-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
