@use "./colors" as *;

@mixin flex($flow: nowrap row, $justify: stretch, $align: stretch) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin translate-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudo-element-inset {
  content: "";
  position: absolute;
  inset: 0;
}

@mixin avatar-container-small {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 50px;
  border: 1px solid $border-login-img-container;
  padding: 1px;

  &::before {
    inset: 0px;
    content: "";
    position: absolute;
    border: solid 2px white;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin hideElement {
  position: absolute;
  z-index: -100;
  visibility: none;
}

@mixin avatarBig {
  position: relative;
  z-index: 1;
  margin-inline: auto;
  height: 100px;
  width: 100px;
  border: 1px solid $border-login-img-container;
  padding: 1px;

  &::before {
    position: absolute;
    inset: 0px;
    content: "";
    border: solid 2px white;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
