@use "../../../../../abstracts/index" as *;

.user__card__simple {
  @include flex($align: center);

  .user__card--button {
    background-color: transparent;
    @include flex($align: center);
    padding: 2px 20px;
    width: 100%;
    border: none;

    &:focus {
      background-color: #d2eaf6;
    }
  }

  .user__card--personal {
    color: #777777;

    .dash {
      color: black;
      padding: 2px;
    }
  }
}

.user__card__details {
  .user__card--button {
    display: grid;
    justify-items: flex-start;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50px auto 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "avatar icon name"
      "avatar . personal"
      "avatar . email";

    background-color: transparent;
    padding: 2px 20px;
    width: 100%;
    border: none;

    &:focus {
      background-color: #d2eaf6;
    }
  }

  .user__card--avatar__container {
    grid-area: avatar;
    @include avatar-container-small;

    &:hover::after {
      inset: 0px;
      content: "";
      position: absolute;
      border: solid 1px #4890c8;
    }
  }

  .user__card--icon {
    grid-area: icon;
  }

  .user__card--name {
    grid-area: name;
  }

  .user__card--personal {
    grid-area: personal;
    color: #777777;
  }

  .user__card--email {
    grid-area: email;
  }
}
