@use "../../abstracts/" as *;

.ask-reset-password__container {
  @include flex($flow: nowrap column, $align: center);
  font-size: $font-login-size;
  font-family: $font-login;
  border: 1px solid $border-login-container;
  height: 864px;
  width: 623px;
  background: $bg-login;
  background-size: 100% 100%;
}

.ask-reset-password__form {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr repeat(3, auto) 3fr;
  row-gap: 50px;
  grid-template-areas:
    "."
    "desc"
    "label-input"
    "btn"
    ".";
  max-width: 300px;

  .instructions__container {
    grid-area: desc;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label-input__container {
    display: flex;
    flex-direction: column;
    grid-area: label-input;

    label {
      margin-bottom: 6px;
    }

    input {
      padding: 3px;

      &:focus {
        outline: none;
      }
    }
  }

  .send-reset-password__button {
    grid-area: btn;
    margin: auto;
    border-radius: 1px;
    border-bottom: solid 1px $bg-connect-btn-border;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 0 1px white, 0 0 0 2px $bg-login-input-border;
    color: $font-login-connect-btn-font;
    background: linear-gradient(#e0e8f0, #d8e8f0);
    margin-top: 10px;
    width: 72px;

    &:hover {
      background: linear-gradient(#c8e8f0, #c8e0f0);
    }
  }
}
