@use "../../abstracts/" as *;

.ask-reset-password__container,
.reset-password__container {
  @include flex($flow: nowrap column, $align: center);
  font-size: $font-login-size;
  font-family: $font-login;
  border: 1px solid $border-login-container;
  height: 864px;
  width: 623px;
  background: $bg-login;
  background-size: 100% 100%;
}

.ask-reset-password__form,
.reset-password__form {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr repeat(3, auto) 3fr;
  row-gap: 50px;
  grid-template-areas:
    "."
    "desc"
    "label-input"
    "btn"
    ".";
  max-width: 300px;

  .instructions__container {
    grid-area: desc;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label-input__container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: label-input;

    label {
      margin-bottom: 6px;
    }

    input {
      padding: 3px;

      &:focus {
        outline: none;
      }
    }
  }

  .label-input__container,
  .reset-password__button__container {
    small {
      position: absolute;
      bottom: -20px;
      font-size: 0.7rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
    }

    small.error {
      color: red;
    }
  }

  .reset-password__button__container {
    position: relative;
    grid-area: btn;
    width: 100%;
    text-align: center;
  }

  .ask-reset-password__button,
  .reset-password__button {
    margin: auto;
    border-radius: 1px;
    border-bottom: solid 1px $bg-connect-btn-border;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 0 1px white, 0 0 0 2px $bg-login-input-border;
    color: $font-login-connect-btn-font;
    background: linear-gradient(#e0e8f0, #d8e8f0);
    margin-top: 10px;
    width: 72px;

    &:hover {
      background: linear-gradient(#c8e8f0, #c8e0f0);
    }
  }
}

.reset-password__form {
  grid-template-rows: 2fr repeat(4, auto) 3fr;
  grid-template-areas:
    "."
    "desc"
    "label-input-first"
    "label-input-second"
    "btn"
    ".";

  .label-input__container.first-password {
    grid-area: label-input-first !important;
  }

  .label-input__container.second-password {
    grid-area: label-input-second !important;
    margin-top: -30px;
  }
}

.reset-password__container.success,
.ask-reset-password__container.success {
  @include flex($flow: nowrap, $align: center, $justify: center);

  .password-reset-succes {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
