@use "../../../../../abstracts/index" as *;

.add-contact__button,
.sort-contact__button,
.reset-input__button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;

  &:hover .hover {
    visibility: visible;

    &:not(.reset-input__button__img--container .hover) {
      border: solid 1px $contact-mange-add-btn-hover-border;
    }
  }

  &:hover .notHover {
    visibility: hidden;
  }

  &__img--container {
    position: relative;

    img {
      position: absolute;
      @include translate-center;
    }

    .hover {
      visibility: hidden;
    }

    .notHover {
      visibility: visible;
    }
  }
}
