@use "../../abstracts/index" as *;

.home {
  padding-inline: 8px;

  header {
    box-sizing: content-box;
    margin-inline: -8px;
  }
}

.user__container {
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.41) 0%,
    rgba(255, 255, 255, 0.4) 49.16%,
    #ffffff 100%
  );
  position: relative;
  display: grid;
  column-gap: 5px;
  align-items: center;
  justify-items: left;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "avatar settings"
    "avatar message";
  width: 100%;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      180deg,
      rgba(44, 98, 138, 1) 0%,
      rgba(44, 98, 138, 0.58) 10%,
      rgba(44, 98, 138, 0.42) 40%,
      rgba(44, 98, 138, 0.26) 100%
    )
    1;

  &::before,
  &::after {
    box-sizing: border-box;
    position: absolute;
    content: "";
    inset: 0;
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
  }

  &::before {
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) 1;
    z-index: 1;
  }

  &::after {
    border-image: linear-gradient(
        90deg,
        rgba(126, 174, 195, 1) 0%,
        rgba(127, 238, 242, 1) 25%,
        rgba(126, 255, 255, 1) 50%,
        rgba(127, 238, 242, 1) 75%,
        rgba(126, 174, 195, 1) 100%
      )
      1;
  }

  &-settings {
    padding-right: 20px;
    z-index: 1;
  }

  .user-avatar__container {
    grid-area: avatar;
    position: relative;
    z-index: 1;
    height: 50px;
    width: 50px;
    border: 1px solid $border-login-img-container;
    padding: 1px;

    &::before {
      inset: 0px;
      content: "";
      position: absolute;
      border: solid 2px white;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-personnal-message {
    grid-area: message;
    padding: 2px;
    border: solid transparent 1px;
  }

  input {
    border: 1px solid $bg-login-input-border;
    padding: 3px;

    &:focus {
      outline: none;
    }
  }

  span {
    pointer-events: none;
  }

  .button-sentence {
    margin-left: 5px;
  }

  button {
    position: relative;
    background-color: transparent;
    border: solid transparent 1px;
    padding: 2px;
    max-width: 100%;
    padding-right: 20px;

    &:hover,
    &:focus {
      border: 1px solid #4890c8;

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        border: 1px solid white;
        background: linear-gradient(
          to bottom,
          rgb(224, 240, 240) 0%,
          rgb(192, 224, 232) 93%,
          rgb(192, 224, 232) 100%
        );
        z-index: -1;
      }
    }

    b {
      font-weight: bold !important;
    }

    .user__container-dropdown {
      position: absolute;
      top: 0;
      right: -2px;
      height: 100%;
      width: 20px;
      @include flex($align: center, $justify: center);
      background-color: transparent;
      border: none;

      svg {
        position: absolute;
        inset: 0;
        @include translate-center;
        font-size: 1rem !important;
      }
    }

    #dropDownStatus {
      pointer-events: none;
    }
  }

  .user-settings {
    grid-area: settings;
    @include flex($flow: column);
    position: absolute;
    z-index: 1;
    gap: 5px;
    background-color: $bg-login-email-drop;
    border: 1px solid $border-login-status-list;
    width: 200px;
    padding: 2px;
    left: 0;
    top: 21px;

    li {
      position: relative;
      @include flex($align: center);
      height: 20px;
      line-height: 20px;

      &:nth-child(8) {
        height: auto;
        margin-top: 5px;
      }

      &:nth-child(8)::before,
      &:nth-child(8)::after {
        position: absolute;
        content: "";
      }

      &:nth-child(8)::before {
        inset: -5px 5px 0 5px;
        border-top: solid $border-login-status-list 1px;
      }

      &:nth-child(8)::after {
        inset: -4px 5px 0 5px;
        border-top: solid white 1px;
      }

      &:hover {
        background-color: $bg-login-status-list-hover;
        color: white;
        cursor: default;
      }

      &:hover .notHover {
        visibility: hidden;
      }

      &.list-settings {
        padding-left: 23px;
      }

      .status-img__container {
        position: relative;
        height: 18px;
        width: 17px;
        img {
          position: absolute;
        }
        .notHover {
          z-index: 2;
        }

        .hover {
          z-index: 1;
        }
      }

      span {
        margin-left: 5px;
      }
    }
  }
}

.display {
  display: none;
}
