@use "../../abstracts/index" as *;

#connect__btn,
.ask-reset-password__button,
.reset-password__button {
  position: relative;
  margin: auto;
  border-radius: 0.5px;
  border-bottom: solid 1px $border-connect-btn;
  border-width: 0 0 1px 0;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #c8c8c8;
  color: $font-login-connect-btn-font;
  background: $bg-login-connect-btn;
  margin-top: 15px;
  width: 68px;
  line-height: 15px;
  padding: 2px;

  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    border-bottom: solid 1px $border-connect-btn-before;
    pointer-events: none;
  }

  &:hover {
    background: $bg-login-connect-btn-hover;
  }
}
