@use "../../../abstracts/" as *;

.login__container__form {
  @include flex($flow: nowrap column);
  gap: 10px;
  padding-top: 62px;
  height: 388px;
  width: 226px;

  input {
    border: 1px solid $bg-login-input-border;
    padding-block: 2px;

    &[type="email"],
    &[type="text"] {
      width: 100%;
      box-sizing: border-box;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: $font-login-input-placeholder;
    }
  }
}

.remember__container {
  @include flex($align: center);
}

#delete-saved__password {
  background-color: transparent;
  border: none;
  color: $font-login-delete-saved-password-font;
  text-align: left;
  margin-left: 15px;
}
