@use "../../../../abstracts/index" as *;

.context-menu {
  @include flex($flow: column);
  position: absolute;
  z-index: 1;
  gap: 5px;
  background-color: $bg-login-email-drop;
  border: 1px solid $border-login-img-container;
  width: 245px;
  padding: 2px;

  li {
    height: 20px;
    line-height: 20px;

    &:hover {
      background-color: $bg-login-email-drop-hover;
      cursor: default;
    }

    button {
      padding-left: 30px;
      width: 100%;
      height: 100%;
    }
  }
}

.sort-contact__button:focus .hover {
  visibility: visible;
  border: solid 1px $contact-mange-add-btn-hover-border;
}
