#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.2px;
}

li {
  list-style: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/assets/windows-xp-wallpaper.jpg") no-repeat;
}
