@use "../../../abstracts/" as *;

.login {
  .disabled {
    .login-email__container,
    .login-password__container,
    .status-title,
    .status-select {
      color: $login-disabled-text-border !important;
      pointer-events: none;
    }

    svg {
      color: $font-login-disabled-icon;
    }

    input[type="email"],
    input[type="password"],
    input:-webkit-autofill:disabled,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover,
    input:-webkit-autofill {
      border-color: $login-disabled-text-border;
      box-shadow: 0 0 0px 1000px #ebf3f6 inset;
      -webkit-text-fill-color: $login-disabled-text-border;
    }
  }
}
