.register{
    // border:1px solid rgb(105, 182, 167);
    width:50%;
}
.register-wrapper{
    border:1px solid red;
    padding:20px;
    display: flex;
    flex-direction: column;
}
.register-container{
    display: flex;
    padding:10px;
    // border:1px solid rgb(202, 48, 219);
    &__label{
        width:25%;
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        // border:1px solid green;
    }
    &__radio{
        display: flex;
    }
}