@use "../../../../../../../abstracts/index" as *;

.add-contact-menu {
  form {
    .add-abort {
      grid-area: submitAbort;
      justify-self: flex-end;
      @include flex($justify: flex-end);
      gap: 10px;
      padding: 5px 20px;
      border-top: solid 1px $border-contacts-manage-add-abort;
      margin-top: auto;

      button[type="submit"] {
        background: $bg-login-connect-btn;
        padding-inline: 5px;

        &:disabled {
          background: $bg-contacts-manage-add-btn-disabled;
          color: $font-contacts-manage-add-btn-disabled;
        }
      }

      button[type="button"] {
        background: $bg-contact-manage-add-abort-btn;
      }

      button {
        position: relative;
        border-radius: 0.5px;
        border-bottom: solid 1px $border-connect-btn;
        border-top: solid 1px transparent;
        border-width: 1px 0;
        box-shadow: 0 0 0 1px white, 0 0 0 2px #c8c8c8;
        color: $font-contacts-manage-add-abort-btn;
        min-width: 68px;
        line-height: 15px;
        padding: 2px;

        &.disabled-email {
          border-bottom: none;

          &::before {
            border-bottom: none;
          }
        }

        &:active {
          border-bottom-color: transparent;
          border-top: solid 1px $border-connect-btn;

          &::before {
            border-bottom-color: transparent;
            border-top: solid 1px $border-connect-btn-before;
          }
        }

        &::before {
          @include pseudo-element-inset;
          border-bottom: solid 1px $border-connect-btn-before;
          border-top: solid 1px transparent;
          pointer-events: none;
        }

        &:hover {
          background: $bg-login-connect-btn-hover;
        }
      }
    }
  }
}
