@use "../../../../abstracts/index" as *;

.user__container {
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.41) 0%,
    rgba(255, 255, 255, 0.4) 49.16%,
    #ffffff 100%
  );
  position: relative;
  display: grid;
  column-gap: 5px;
  align-items: center;
  justify-items: left;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "avatar settings"
    "avatar message";
  width: 100%;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      180deg,
      rgba(44, 98, 138, 1) 0%,
      rgba(44, 98, 138, 0.58) 10%,
      rgba(44, 98, 138, 0.42) 40%,
      rgba(44, 98, 138, 0.26) 100%
    )
    1;

  &::before,
  &::after {
    box-sizing: border-box;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
  }

  &::before {
    border-image: linear-gradient(180deg, #428aa681 0%, rgba(255, 255, 255, 1) 100%) 1;
    // border-image: linear-gradient(180deg, red 0%, blue 100%) 1;
    z-index: 1;
    inset: 1px 1px 0 1px;
    border-width: 2px;
  }

  &::after {
    inset: 0;
    border-image: linear-gradient(
        90deg,
        rgba(126, 174, 195, 1) 0%,
        rgba(127, 238, 242, 1) 25%,
        rgba(126, 255, 255, 1) 50%,
        rgba(127, 238, 242, 1) 75%,
        rgba(126, 174, 195, 1) 100%
      )
      1;
  }

  &-settings {
    padding-right: 20px;
    z-index: 2;

    span {
      pointer-events: none;
    }

    .button-sentence {
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}
