@use "../../../abstracts/index" as *;

.home {
  padding: 0px 8px 8px 8px;
  min-width: 270px;

  & > header {
    box-sizing: content-box;
    margin-inline: -8px;
  }

  &.hide {
    @include hideElement;
  }
}
