@use "../../../../abstracts/index" as *;

.contacts-manage__container {
  // @include flex($align: center);
  display: flex;
  width: 100%;
  gap: 10px;
  height: 40px;
  padding: 7px 2px;
  background-color: white;
  margin-top: 7px;
  border: solid 1px $contact-manage-add-border;

  .contacts-manage__icon {
    height: 20px;
    width: 24px;
  }
}
