@use "../../../../abstracts/index" as *;

.sort-contact__container {
  position: relative;

  .contact-manage-sort__menu {
    @include flex($flow: column);
    position: absolute;
    z-index: 1;
    gap: 5px;
    right: 15px;
    top: 22px;
    background-color: $bg-login-email-drop;
    border: 1px solid $border-login-img-container;
    width: 341px;
    padding: 2px;

    li {
      position: relative;
      padding-left: 25px;
      height: 20px;
      line-height: 20px;

      &:hover {
        background-color: $bg-login-email-drop-hover;
        cursor: default;
      }

      svg {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);

        &.show {
          visibility: visible;
        }

        &.hide {
          visibility: hidden;
        }

        path {
          stroke: black;
          stroke-width: 3px;
        }
      }
    }
  }

  .sort-contact__button:focus .hover {
    visibility: visible;
    border: solid 1px $contact-mange-add-btn-hover-border;
  }
}
