@use "../../../../abstracts/index" as *;

.sort-contact__container {
  position: relative;

  .contact-manage-sort__menu {
    @include flex($flow: column);
    position: absolute;
    z-index: 1;
    gap: 5px;
    right: 15px;
    top: 22px;
    background-color: $bg-login-email-drop;
    border: 1px solid $border-login-img-container;
    width: 341px;
    padding: 2px;

    li {
      padding-left: 30px;
      height: 20px;
      line-height: 20px;

      &:hover {
        background-color: $bg-login-email-drop-hover;
        cursor: default;
      }
    }
  }

  .sort-contact__button:focus .hover {
    visibility: visible;
    border: solid 1px $contact-mange-add-btn-hover-border;
  }
}
