@use "../../../abstracts/index" as *;

.chat {
  &__manage-contact {
    position: relative;
    @include flex($align: center);
    padding: 6px;
    margin-left: -8px;
    height: 37px;
    border-top: solid 1px #bed6e0;
    border-bottom: solid 1px #bed6e0;
    background: linear-gradient(
      180deg,
      #fdfefe 4.88%,
      #e8f0f3 52.51%,
      #dde9ee 53.26%,
      #e6eff3 97.22%
    );

    button {
      @include flex($align: center, $justify: center);
      position: relative;
      background-color: transparent;
      border: transparent;
      height: 33px;
      width: 44px;

      @include hoverBorderAndBlueGradient;
    }
  }
}
