@use "../../../abstracts/index" as *;

.chat__avatars {
  &--options-contact {
    @include flex($flow: column);
    position: absolute;
    z-index: 10;
    gap: 7px;
    right: 7px;
    bottom: -88px;
    background-color: $bg-login-email-drop;
    border: 1px solid $border-login-img-container;
    min-width: 230px;
    padding: 2px;

    .options-list {
      position: relative;
      padding-left: 25px;
      height: 23px;
      line-height: 23px;
      font-size: 11px;
      font-weight: 500;
      font-family: "Segoe UI", "Trebuchet MS", sans-serif;

      &-size {
        position: absolute;
        z-index: 11;
        right: 225px;
        top: 30px;
        width: 140px;
        background-color: $bg-login-email-drop;
        border: 1px solid $border-login-img-container;
        font-size: 11px;
        font-weight: 500;
        font-family: "Segoe UI", "Trebuchet MS", sans-serif;
        padding: 2px;

        li {
          padding-left: 25px;
          height: 25px;
          line-height: 25px;

          &:hover {
            background-color: $bg-login-email-drop-hover;
            cursor: default;
          }
        }
      }

      &:not(:nth-child(1))::before {
        position: absolute;
        content: "";
        inset: -4px 22px 0 22px;
        border-top: solid #d7d7d7 1px;
      }

      &:hover {
        background-color: $bg-login-email-drop-hover;
        cursor: default;
      }
    }
  }
}
