@use "../../../abstracts/index" as *;

.chat {
  // overflow: hidden;
  position: relative;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-areas:
    "header header"
    "manage manage"
    "feed avatars"
    "entries avatars";
  height: 500px;
  min-width: 390px;
  max-width: 1000px;
  width: 100%;
  background-color: #ecf3f6;
  border: solid 2px #55759c;
  padding: 0 13px 8px 8px;
  border-radius: 5px;

  background: $bg-contact-manage-add-menu;
  z-index: 2;

  &::before,
  &::after {
    @include pseudo-element-inset;
  }

  &::before {
    background: url("/assets/background_stripes_v2.jpg") no-repeat top right;
    z-index: 0;
  }

  &::after {
    background: url("/assets/icons/contactsManageIcons/contacts-manage-menu-header.png") repeat-x
      top;
    z-index: -1;
  }

  &__header {
    grid-area: header;
  }

  &__manage-contact {
    grid-area: manage;
  }

  &__avatars__panel {
    grid-area: avatars;
  }

  &__feed {
    grid-area: feed;
  }

  &__entries {
    grid-area: entries;
  }
}
